fastapi
uvicorn[standard]
pymongo
python-dotenv
pymongocrypt
python-jose[cryptography]
bcrypt
google-auth
google-auth-oauthlib
google-cloud-compute
paramiko
httpx
websockets
pydantic
python-multipart
requests
celery
redis
PyJWT
Pillow
google-genai
google-cloud-storage
croniter
requests-oauthlib
openpyxl
tomli
tomli_w
